#top{
    position: relative;
    top: 16px;
}
.nav{
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.centered{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#logo {
    height: 233px;
    margin-top: 47px;
}
#glogo {
    padding-top: 109px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .nav-ll {
    float: left;
  }  
  .nav-rl {
      float: right;
  }
  a {
      display: block;
      padding: 8px;
      color: rgba(0,0,0,.89);
      text-decoration: none;
  }
  .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color:rgb(242,242,242);
  }